.org_gwings_Table {
	border-collapse: collapse;
}

.headerTable td,.headerWrapper {
	background-image: url(../pics/table/header.png);
	background-repeat: repeat-x;
	text-align: center;
	line-height: 15px;
	cursor: default;
	font-family: arial, tahoma, helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
}

.dataTable {
	background-color: #CCDAF0;
	font-family: sans-serif;
	font-size: xx-small;
	empty-cells: hide;
}

.dataTable td {
	border-bottom: gray 1px solid;
	border-left: gray 1px solid;
}

.org_gwings_Table .even {
	background-color: #CCDAF0;
}

.org_gwings_Table .odd {
	background-color: #A5B4EF;
}

.paginationWrapper {
	background-image: url(../pics/table/header.png);
	background-repeat: repeat-x;
	width: 100%;
	
	font-family: arial, tahoma, helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
}

.org_gwings_PaginationBar td {
	font-family: arial, tahoma, helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	vertical-align: middle;
}

.pageSelector {
	height: 15px;
	border-style: solid blue 1px;
	font-family: arial,tahoma,helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
}