.org_gwings_Table{
	border-collapse: collapse;
}

.headerTable, .headerWrapper{
	background-image: url(../pics/table/header.png);
	background-repeat: repeat-x;
	
	text-align: center;
	
	cursor: default;
	font-family: sans-serif;
	font-size: x-small;
	font-weight: bold;
}
.dataTable{
	background-color: #CCDAF0;
	font-family: sans-serif;
	font-size: xx-small;
	empty-cells: hide;
}
.dataTable td{
	border-bottom: gray 1px solid;
	border-left: gray 1px solid;
}

.org_gwings_Table .even{
	background-color: #CCDAF0;
}
.org_gwings_Table .odd{
	background-color: #A5B4EF;
}
.paginationWrapper {
	background-image: url(../pics/table/header.png);
	background-repeat: repeat-x;
	height: 15px;
	width:100%;
	
	font-family: sans-serif;
	font-size: x-small;
}

.org_gwings_PaginationBar{
	font-family: sans-serif;
	font-size: xx-small;
	font-weight: bold;
	
	vertical-align: middle;
}

.pageSelector{
	height: 15px;
	border-style: solid blue 1px;
	font-size: 8pt;
}